<!doctype html>
<html lang="en">
<head>
    <title>Diabetes type 2 risk assessment menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

    <script src="./js/main.js"></script>

</head>
<body>
<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li ><a href="/">Home</a></li>
                <li><a href="/risk">Risk assessment</a></li>
                <li class="colorlib-active"><a href="/personalized-rec">Personalized Tools</a></li>
                <li><a href="#">Specialists</a></li>
                <li><a href="/account-info">My Account</a></li>
                <li><%- status_msg %></li>
            </ul>
        </nav>
    </aside>

    <div id="colorlib-main">
        <section class="ftco-section pt-4 mb-5 ftco-intro">
            <div class="container-fluid px-3 px-md-0">
            <table>
            <tr><th>calories</th><td><%= breakfast.calories %></td></tr>
            <tr><th>type</th><td><%= breakfast.type %></td></tr>
            <tr><th>name</th><td><%= breakfast.name %></td></tr>
            <tr><th>ingredients</th><td><%= breakfast.ingredients %></td></tr>
            <tr><th>preparation</th><td><%= breakfast.preparation %></td></tr>
            <tr><th>category</th><td><%= breakfast.category %></td></tr>
            <tr><th>cho</th><td><%= breakfast.cho %></td></tr>
            <tr><th>protein</th><td><%= breakfast.protein %></td></tr>
            <tr><th>fat</th><td><%= breakfast.fat %></td></tr>
            <tr><th>energy</th><td><%= breakfast.energy %></td></tr>
            </table>
            </div>
        </section>
    </div>
</div>
</section>

</body>
</html>

